
.idea/workspace.xml

*.pyc

logs/access.log

logs/error.log

logs/nginx_error_logs.log

logs/nginx.pid

static/player/

logs/

Dockerfile

docker-compose

media/Gold/

static/.idea/

templates/.idea/

media/Anonymous/simple-subtle-abstract-dark-minimalism-4k-u920-04-26-09-46-36.jpg

test.png

asfasfasf.py

utils/

.coverage

.coveragerc

tmp.py

*.png

af.py

testingasfsf.py

user_photo.jpg
