<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{{ url('static', filename='jquery-3.4.1.js') }}"></script>
    <script src="{{ url('static', filename='scripts.js') }}"></script>
    <script src="{{ url('static', filename='vue_scripts/vue-header-app.js') }}"></script>
    <script src="{{ url('static', filename='lodash.js') }}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url('static', filename='styles/style.css') }}">
    <title>Document</title>
    {% block add_to_head %}
    {% endblock %}
</head>
<body>
    <header>
        <div class="header" id='header'>
            <div class="d-flex flex-row justify-content-between align-items-center">
                <div class="mx-5">
                    <a href="/" id='logo' class='h-100 d-inline-block align-middle header-elem' alt='Logo'>Artesk</a>
                </div>
                <div class="flex-grow-1 mx-2">
                    <search-input>
                        <template v-slot:description>
                            Поиск можно производить по имени изображения и тегам, поиск тегов происходит по введенному значению, ' * ' выводит список всех доступных тегов.
                        </template>
                    </search-input>  
                </div>
                <div class="mx-2">
                    <div class='d-flex flex-row justify-content-end h-100 align-items-center pr-4'>
                        {% if not user.is_authenticated %}
                            <div class='d-block header-button' style="width: 50px">
                                <a href="/user/auth/"><img src="{{ url('static', filename='img/user.png') }}" width="25px" height="25px" alt=""></a>
                            </div>
                        {% else %}
                            <div class='d-block header-button' ref='menu_button' style="width: 50px" @click='header_menu_show = true'>
                                <a href="#">
                                    <img ref='menu_button_img' src="{{ url('static', filename='img/user.png') }}" width="25px" height="25px">
                                    <img src="{{ url('static', filename='img/arrow.png') }}" width="10px" height="20px" style='transform: rotate(90deg); position: relative; left:8.5px; bottom: 35px;'>
                                </a>
                                <div class='header_menu shadow p-3' v-show='header_menu_show' v-click-outside='close_header_menu'>
                                    <div class='header_menu_block d-flex flex-column justify-content-between align-items-center'>
                                        <span class='d-block header_menu_block_header'>Аккаунт</span>
                                        <hr>
                                        <a href="" class='d-block header_menu_block_item'>Моя галерея</a>
                                        <a href="" class='d-block header_menu_block_item'>Управление аккаунтом</a>
                                        <a href="/user/logout/" class='d-block header_menu_block_item'>Выход</a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="main-offset">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>