{% extends 'templates/main.html' %}

{% block add_to_head %}
<script type='module' src="{{ url('static', filename='vue_scripts/vue-gallery-app-album.js') }}"></script>
{% endblock %}

{% block content %}

<div id='app' class='pt-3'>
	<user_init owner='{{owner.name}}' user='{{user.name}}' album='{{album}}'></user_init>
	<user_info :owner='{{owner}}' :user='{{user}}'></user_info>
	<control-album></control-album>
	<arts :get_request='"/content/art?user="+[[$root.owner]]+"&albums="+{{album}}' ></arts>
</div>

{% endblock %}